* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

html {
  scroll-behavior: smooth;
}

img, video {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
